button {
    background-color: purple;
    color: white;
    padding: 1.5rem 2.75rem;
    font-size: 23px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
}

button:hover {
    background-color: rebeccapurple;
}

.arrows {
    background-color: transparent;
    color: black;
}

.arrows:hover {
    background-color: transparent;
    color: black; 
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}